# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\microservices pattern\central-configs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
